.footer {
  background-color: #121212;
  color: #fff;
  font-family: $primaryFont;

  &__contentBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
  }

  &__socialIcons {
    margin-bottom: 30px;
  }

  &__icon {
    margin-right: 10px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }

  &__heart {
    margin: 0;
    color: #dc3545;
  }

  &__copy {
    margin-top: 100px;
    text-align: center;
    color: $txtLightColor;
    line-height: 1.8;
  }
}
